/* الخط للعربية */
@font-face {
  font-family: "GE-SS-Text";
  src: url("GE_SS_TEXT_LIGHT.otf");
}

/* الخط للإنجليزية */
@font-face {
  font-family: "CenturyGothic";
  src: url("Century\ Gothic.ttf");
}

/* تطبيق الخطوط على النصوص */
.arabic-text {
  font-family: "GE-SS-Text", Arial, sans-serif;
}

.english-text {
  font-family: "CenturyGothic", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* arabic */

.landing {
  position: relative;
  height: 618px;
}
.landing .upper {
  background-color: #5b8393;
  padding: 50px;
  text-align: center;
  z-index: 1;
  height: 60%;
}

.landing .lower {
  background-color: #efece9;
  text-align: center;
  z-index: 1;
  height: 40%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.landing .center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  border: 10px solid #706d69;
}

.biolab {
  width: 180px;
  margin-top: 70px;
}
.acneIcon {
  width: 50px;
  height: 50px;
  margin-top: 100px;
}

/* acne information section */

.acneInfo img {
  width: 300px;
  height: 300px;
}

.acneInfo {
  text-align: center;
  padding-right: 50px;
}

.acneInfo .info {
  text-align: end;
}
.col.info .title {
  background-color: #5b8393;
  padding: 10px;
  display: inline;
  border-radius: 20px;
}
@media (width <773px) {
  .col.info .title {
    font-size: 1.2rem;
  }
}
@media (width <367px) {
  .col.info .title {
    font-size: 0.9rem;
  }
}

.col.info h4 {
  color: #5b8393;
}

/* acne factors section */

.factors {
  padding-right: 50px;
  text-align: center;
}

.factors img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 25px;
  margin-right: 35px;
}

.factors .info {
  text-align: end;
}

.factors .info .title {
  background-color: #5b8393;
  padding: 10px;
  display: inline;
  border-radius: 20px;
}
@media (width <999px) {
  .factors .info .title {
    font-size: 1.2rem;
  }
}
@media (width <843px) {
  .factors .info .title {
    font-size: 1rem;
  }
}
@media (width <762px) {
  .factors .info .title {
    font-size: 1.5rem;
  }
}
@media (width <540px) {
  .factors .info .title {
    font-size: 1rem;
  }
}

@media (width <392px) {
  .factors .info .title {
    font-size: 0.7rem;
  }
}

.factors .col.info h4 {
  color: #5b8393;
}

/* advice section  */

.advice {
  padding-right: 50px;
  text-align: center;
}

.circular-image {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin-top: 25px;
  object-fit: cover;
}

.advice .info {
  text-align: end;
}
.advice .info h3 {
  background-color: #5b8393;
  padding: 10px;
  display: inline;
  border-radius: 20px;
}
.advice .col.info h4 {
  color: #5b8393;
}
.advice .info ul li {
  direction: rtl;
}

/* footer */

.footer {
  background-color: #efece9;
  text-align: end;
}
.footer h4 {
  color: #5b8393;
}

.footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.footer ul li {
  direction: rtl;
  padding-left: 1em;
  text-indent: -1em;
}

.footer ul li:before {
  content: "-";
  padding-right: 5px;
}

.footer .contact a {
  text-decoration: none;
  font-weight: 600;
}

.footer .contact svg {
  fill: white;
}

.footer .contact span {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding-right: 7px;
  padding-top: 5px;
  background-color: #5b8393;
  border-radius: 10px;
}

/* Enlish  */

/* acne information section in english*/

.acneInfoEnglish img {
  width: 300px;
  height: 300px;
}

.acneInfoEnglish {
  text-align: center;
  padding-left: 50px;
}

.acneInfoEnglish .info {
  text-align: start;
}
.acneInfoEnglish .col.info h3 {
  background-color: #5b8393;
  padding: 10px;
  display: inline;
  border-radius: 20px;
}

/* acne factors section in english*/
.factorsEnglish {
  padding-left: 50px;
  text-align: center;
}

.factorsEnglish img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 25px;
  margin-right: 35px;
}

.factorsEnglish .info {
  text-align: start;
}

.factorsEnglish .info .title {
  background-color: #5b8393;
  padding: 10px;
  display: inline;
  border-radius: 20px;
}

@media (width <999px) {
  .factorsEnglish .info .title {
    font-size: 1.2rem;
  }
}
@media (width <843px) {
  .factorsEnglish .info .title {
    font-size: 1rem;
  }
}
@media (width <762px) {
  .factorsEnglish .info .title {
    font-size: 1.5rem;
  }
}
@media (width <540px) {
  .factorsEnglish .info .title {
    font-size: 1rem;
  }
}

@media (width <392px) {
  .factorsEnglish .info .title {
    font-size: 0.7rem;
  }
}

/* advice section in english */

.adviceEnglish {
  padding-left: 50px;
  text-align: center;
}

.adviceEnglish img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 25px;
}
.adviceEnglish .info {
  text-align: start;
}
.adviceEnglish .info h3 {
  padding: 10px;
}

/* footer in english */

.footerEnglish {
  background-color: #efece9;
}
.footerEnglish h4 {
  color: #5b8393;
}

.footerEnglish ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.footerEnglish ul li {
  direction: ltr;
  padding-left: 1em;
  text-indent: -1em;
}

.footerEnglish ul li:before {
  content: "-";
  padding-left: 5px;
}
